@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<ul class="list-group list-group-flush">
    @foreach (var item in @Model.Posts)
    {
         <li class=list-group-item>
              <a asp-page="/Posts/Details" asp-route-id="@item.ID"><h6> @Html.DisplayFor(modelItem => item.Title)</h6></a>

         </li>
    }
   
</ul>